body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
  }
  
  .profiles {
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    transform: scale(0.8);
    transition: transform 0.2s ease;
    
  }
  
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin: 0 20px;
    background-color: blue;
  }
  
  .profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .profile span {
    margin-top: 10px;
  }
  